html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  src: url("../public/fonts/ITCAvantGardeStd-Bold.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  src: url("../public/fonts/ITCAvantGardeStd-Bk.otf") format("otf");
}

/* @font-face {
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  src: url("../public/fonts/ITCAvantGardeStd-BkObl.otf");
  src: url("../public/fonts/ITCAvantGardeStd-Demi.otf");
  src: url("../public/fonts/ITCAvantGardeStd-Md.otf");
  src: url("../public/fonts/QueensCompressed-Regular.ttf");

  font-style: normal;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}
