html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  font-family: "ITC Avant Garde Gothic W01 Bk";
  src: url("/fonts/ITC-Avant-Garde-Gothic-Book.woff2") format("woff2"),
    url("/fonts/ITC-Avant-Garde-Gothic-Book.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  font-family: "ITC Avant Garde GothicW01BkObl";
  src: url("/fonts/ITC-Avant-Garde-Gothic-Medium.woff2") format("woff2"),
    url("/fonts/ITC-Avant-Garde-Gothic-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  font-family: "ITC Avant Garde Gothic W01 Md";
  src: url("/fonts/ITC-Avant-Garde-Gothic-Book-Oblique.woff2") format("woff2"),
    url("/fonts/ITC-Avant-Garde-Gothic-Book-Oblique.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  font-family: "ITC Avant Garde Gothic W01 Dm";
  src: url("/fonts/ITC-Avant-Garde-Gothic-Demi-Bold.woff2") format("woff2"),
    url("/fonts/ITC-Avant-Garde-Gothic-Demi-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  font-family: "ITC Avant Garde Gothic W01 Bd";
  src: url("/fonts/ITC-Avant-Garde-Gothic-Bold.woff2") format("woff2"),
    url("/fonts/ITC-Avant-Garde-Gothic-Bold.woff") format("woff");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}
